<h4 class="text-center mt-4">Registre-se e mostre seu pet ao mundo</h4>

<form [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="input-group mt-3 mb-3">
    <input
      formControlName="email"
      type="text"
      placeholder="e-mail"
      class="form-control"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email obrigatório"
    >
    </app-mensagem>
    <app-mensagem
      mensagem="E-mail inválido"
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
    ></app-mensagem>
  </div>
  <div class="input-group mb-3">
    <input
      formControlName="fullName"
      type="text"
      placeholder="Nome Completo"
      class="form-control"
    />
  </div>
  <div class="input-group mb-3">
    <input
      formControlName="userName"
      type="text"
      placeholder="Usuário"
      class="form-control"
    /><app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched" mensagem="Usuário deve ser em letra minúscula"></app-mensagem>
  </div>
  <div class="input-group mb-3">
    <input
      formControlName="passWord"
      autocomplete="off"
      type="password"
      placeholder="senha"
      class="form-control"
    />
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary btn-block">Cadastro</button>
  </div>
</form>

<p>
  Já é um usuário?
  <a [routerLink]="['']">Faça Login</a>
</p>
